name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        type: string
        required: true
      latest:
        description: "Make this version the latest LTS"
        type: boolean
        default: false
        required: false
  workflow_call:
    inputs:
      version:
        description: "Version to release"
        type: string
        required: true
      latest:
        description: "Make this version the latest LTS"
        type: boolean
        default: false
        required: false

concurrency:
  group: release-${{ inputs.version }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: setup deb822 repos
        run: |
          if [[ $ImageOS == "ubuntu24" ]]; then
            cat <<EOF > deb822sources
          Types: deb
          URIs: http://archive.ubuntu.com/ubuntu/
          Suites: noble
          Components: main restricted universe
          Architectures: amd64

          Types: deb
          URIs: http://security.ubuntu.com/ubuntu/
          Suites: noble-security
          Components: main restricted universe
          Architectures: amd64

          Types: deb
          URIs: http://archive.ubuntu.com/ubuntu/
          Suites: noble-updates
          Components: main restricted universe
          Architectures: amd64

          Types: deb
          URIs: http://azure.ports.ubuntu.com/ubuntu-ports/
          Suites: noble
          Components: main restricted multiverse universe
          Architectures: arm64

          Types: deb
          URIs: http://azure.ports.ubuntu.com/ubuntu-ports/
          Suites: noble-updates
          Components: main restricted multiverse universe
          Architectures: arm64
          EOF

            sudo mv deb822sources /etc/apt/sources.list.d/ubuntu.sources
          else
            cat <<EOF > sources.list
          Types: deb
          URIs: http://archive.ubuntu.com/ubuntu/
          Suites: noble
          Components: main restricted universe
          Architectures: amd64

          Types: deb
          URIs: http://security.ubuntu.com/ubuntu/
          Suites: noble-security 
          Components: main restricted universe
          Architectures: amd64

          Types: deb
          URIs: http://archive.ubuntu.com/ubuntu/
          Suites: noble-updates
          Components: main restricted universe
          Architectures: amd64

          Types: deb
          URIs: http://ports.ubuntu.com/ubuntu-ports/
          Suites: noble
          Components: main restricted multiverse universe
          Architectures: arm64

          Types: deb
          URIs: http://ports.ubuntu.com/ubuntu-ports/
          Suites: noble-updates
          Components: main restricted multiverse universe
          Architectures: arm64
          EOF
            sudo mv sources.list /etc/apt/sources.list
          fi

      - name: Build
        run: |
          sudo bash build.sh \
            --version=${{ inputs.version }}

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          latest_flag="--latest=false"
          if [[ "${{ inputs.latest }}" == "true" ]]; then
            latest_flag="--latest"
          fi

          gh release create "${{ inputs.version }}" \
            --title "Version ${{ inputs.version }}" \
            --fail-on-unmatched-files \
            $latest_flag \
            linux-${{ inputs.version }}-kernel/pkgs/* \
            linux-${{ inputs.version }}.tar.gz
