name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version to release"
        type: string
        required: true
      latest:
        description: "Make this version the latest LTS"
        type: boolean
        default: false
        required: false
  workflow_call:
    inputs:
      version:
        description: "Version to release"
        type: string
        required: true
      latest:
        description: "Make this version the latest LTS"
        type: boolean
        default: false
        required: false

concurrency:
  group: release-${{ inputs.version }}
  cancel-in-progress: true

jobs:
  release:
    name: Release
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          sudo bash build.sh \
            --version=${{ inputs.version }}

      - name: Release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          latest_flag="--latest=false"
          if [[ "${{ inputs.latest }}" == "true" ]]; then
            latest_flag="--latest"
          fi

          gh release create "${{ inputs.version }}" \
            --title "Version ${{ inputs.version }}" \
            --fail-on-unmatched-files \
            $latest_flag \
            linux-${{ inputs.version }}-kernel/pkgs/* \
            linux-${{ inputs.version }}.tar.gz
